.nav{
	height: 75px;
	background-color: black;
}

.nav a{
	color: white;
	font-size: 13px;
	font-weight: bold;
	padding: 28px 20px 20px 20px;
	margin-top: -12px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
    
    height: 75px;
}

.nav li{
	display: inline;
	text-align: center;
	width: 106px;
}

.nav li:hover{
	background-color: grey;
}

.nav a:hover{
	background-color: grey;
	text-decoration: none;
}

.nav a:focus{
	background-color: grey;
	color: white;
	text-decoration: none;
}

.nav a:{
	background-color: grey;
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}

#logo{
	float:left;
	margin-top: 12px;
}

.navbar-collapse{
	width: 619px;
    float: right;
    margin-top: 12px;
}

@media (max-width: 835px) {
  #reducir.collapse.navbar-collapse {
    display: none !important;
  }
  #reducir.collapse.navbar-collapse.in {
    display: block !important;
  }
  #reducir nav{
  	width: 589px;
  }
  .nav li{
	display: list-item;
	background-color:black;
	height: 50px;
	width: 139px;
  }
  .nav ul{
	background-color:black;
	width: 139px;
  }
  .navbar-toggle {
    display: block !important;
  }
  div.navbar-header {
	float:right;
  }
  .nav li a, .nav li a:active{
  	width: 139px;
  	padding: 15px 20px 20px 20px;
  	margin-top: 0px;
  	height: 50px;
  }
  div.container-fluid{
  	height: 335px;
  }
}

@media (max-width: 768px) {
	div.navbar-header{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
}

 li a.active {
 	background-color: grey;
 }

 button.navbar-toggle{
 	margin-top: 18px;
 }
 .collapse.navbar-collapse{
 	margin-left: 50%;
 	margin-right: 50%;
 }